.container {
    position: relative;
    height: 100%;
    //width: 100%;
    background-image: url('../imgs/main-bg-1280.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 1rem;
}