@import '../styles/theme.scss';
@import '../styles/mixins.scss';

.gradient-bg {
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 45vh;
    overflow: hidden;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(#09080d, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(#09080d, 1) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(#09080d, 1) 100%);
    background: -ms-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(#09080d, 1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(#09080d, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

    img {
        position: relative;
        z-index: -2;
        display: block;
        width: 100%;
        transition: all 300ms;
    }

    .summary-title {
        position: absolute;
        bottom: 5%;
        padding: 0 2vw;
        z-index: 2;
        font-size: 2rem;
        color: $gray-100;
    }
}

.summary {
    position: relative;
    margin: 0 2vw;
    color: $gray-100;

    

    .status {
        position: relative;
        padding: 1rem 0.5rem 1rem 1.5rem; 
        background: rgba(#186da2,0.3);
        border-radius: 3px;
        //background-color: #A2CBFA;
        border: 1px solid #4390E1;

        .flight-number {
            float: right;
        }

        .status-color {
            position: absolute;
            left: 0;
            top: 0;
            width: 1rem;
            height: 100%;
            
            &.success {
                background-color: limegreen;
            }
            &.failure {
                background-color: red;
            }
            &.waiting {
                background-color: yellow;
            }
        }
    }

    .info {
        background: linear-gradient(to top, rgba(51, 117, 158, 0.65) 0%, rgba(0, 83, 136, 0) 100%);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;

        @include desktop {
            flex-direction: row;
            align-items: unset;
        }

        .badge {
            display: flex;
            align-items: center;
            flex: 0 1 10%;

            img {
                max-width: 256px;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            flex: 0 1 50%;
            padding: 0 1rem;
            text-align: justify;
            .mission-name {
                color: yellow;
                font-size: 1.2rem;
                font-weight: 300;
                text-align: center;
                @include desktop {
                    text-align: left;
                }
            }
        }

        .aux-data {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            
            margin: 1rem 0;
            padding-top: 1rem;
            align-items: center;
            border-top: 1px dotted $gray-100;

            @include desktop {
                border-left: 1px dotted $gray-100;
                border-top: unset;
                padding-left: 1rem;
                flex: 0 1 30%;
                margin: unset;
                padding-top: unset;
            }

            .label {
                color: yellow;
                margin-right: 1rem;
            }
        }
    }
}



